<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .header1{
            text-align: center;
            height:100px;
            background:#16284D;
            font-size:30px;
            color:#fff;
            line-height: 100px;
            font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
        }
    </style>
</head>
<body>
<div class="header1">问答系统后台管理</div>

</body>
</html>
